<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.czjy.chaozhi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <application
        android:name="com.czjy.chaozhi.App"
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.czjy.chaozhi.ui.activity.user.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.czjy.chaozhi.ui.activity.user.ResetPwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.user.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.setting.SelectSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.setting.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.user.GuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.czjy.chaozhi.ui.activity.web.WebDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.czjy.chaozhi.ui.activity.web.SimpleWebActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.datalibrary.DataLibraryActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.datalibrary.ShowDataLibraryActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name=".ui.activity.datalibrary.MyDataLibraryActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wxa595f547a6eeeb65"/>
            </intent-filter>

        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.czjy.chaozhi.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>


</manifest>